body {
    font-family: sans-serif;
    line-height: 1.4;
}

.product-title {
    font-size: 24px;
    background-color: #f7f7f7;
    text-transform: uppercase;
    text-align: center;
}

.product {
    border: 5px solid black;
}

.price {
    font-size: 24px;
}

.shipping {
    font-size: 14px;
    color: grey;
    text-transform: uppercase;
    font-weight: 600;
}

.details-title {
    text-transform: uppercase;
    font-size: 16px;
}

.details-list {
    list-style: square;
}

.add-cart {
    font-size: 20px;
    color: #fff;
    background-color: black;
    border-style: none;
    text-transform: uppercase;
}

.add-cart:hover {
    color: #000;
    background-color: #fff;
}

.more-info:link {
    color: black;
}

.more-info:visited {
    color: black;
}

.more-info:hover {
    text-decoration: none;
}

.more-info:active {
    color: black;
}